$xlg-screen:'screen and (min-width: 100rem)';
$lg-screen: 'screen and (min-width: 70rem)';
$md-screen: 'screen and (min-width: 40rem)';
$sm-screen: 'screen and (min-width: 30rem)';

.row-gut-bottom-none {
  margin-bottom: 0;
}