@import 'media-queries';
@import 'animation-mixins';

// Vars
// Units
$sm-value: 12px;

// Typography
$branding: 'Source Serif Pro', serif;

// Font sizes
$fs-sm: 1em;
$fs-md: 2em;
$fs-lg: 3em;

// font weight
$branding-regular: 400;
$branding-semibold: 600;
$branding-bold: 700;

// Colors
$black: #000;
$red: #ff0000;
$light-gray: #4C4C4C;
$white: #FFF;
$secondary-color: #D5FFF5;


// z-index
$z-index-below: -1;
$z-index-default: 1;
$z-index-above: 2;


$emphasis: inset 0px -8px 0 rgba(255, 0, 0, 0.11);

// Layout
$container-width: 50rem;


// Reset

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

// Site

body {
  font-family: $branding;
  line-height: 1.5;
  background:#f4f3ed;
}

* {
  &,
  &::before,
  &::after {
    box-sizing: inherit;
  }
}

a {
  &,
  &:link,
  &:active {
    color: $red;
    text-decoration: none;
  }

  &:hover {
    box-shadow: $emphasis
  }
}

// Navigation

header {
  padding: 24px 0;
  margin-bottom: 4rem;

  @media #{$lg-screen} {
    margin-bottom: 6rem;
  }
  @media #{$xlg-screen} {
      margin-bottom: 10rem;
  }
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;

    @media #{$lg-screen} {
        font-size: $fs-sm;
        line-height: 2;
    }

  @media #{$xlg-screen} {
    font-size: 1.5em;
    line-height: 2;
  }
}

a.logo {
  font-weight: $branding-bold;
  color: $black;
}

.nav-links {
  a {
    margin-left: 1rem;
    text-decoration: none;
    color: inherit;
  }
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

// Layout
.container {
    padding: 0 1rem;
    margin: auto;

    @media #{$md-screen} {
        max-width: $container-width;
        padding: 0 2rem;
  }
}

.main {
    padding: 0 1rem;
    margin: auto;

    @media #{$md-screen} {
        max-width: $container-width;
        padding: 0 2rem;
  }
}

.pitch {
  font-size: 1.3rem;
  line-height: 1.6;

  @media #{$lg-screen} {
    font-size: 1.8rem;
  }
}

.emphasis {
  font-weight: $branding-semibold;

  &--bold{
    font-weight: $branding-bold;
  }
}

.about {
  font-size: 1em;

   @media #{$lg-screen} {
      font-size: 1.2em;
      line-height: 1.7;
  }
}

.work-container {
  margin-top: 1rem;

  @media #{$lg-screen} {
    margin-top: 3rem;
  }
}

.work-description {
  margin-top: 4px;
}

.work  {
  margin: 0;
  padding: 0;

  li {
    display: block;
    margin-bottom: .5rem;
  }

  a {
    font-weight: bold;
  }
}

.footer {
  margin-top: 3rem;
  font-size: $fs-sm;

  @media #{$lg-screen} {
    margin-top: 6rem;
    padding-top: 1rem;
  }
}

.social-links {
  padding: 0;

  li {
    list-style: none;
    margin-bottom: 5px;
    margin-right: 1rem;

      @media #{$lg-screen} {
          margin-right: 3rem;
      }
  }

  a {
    color: $black;
  }
}

// FLEX STYLES

.flex {
  display: flex;
}

.flex-space-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-justify-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@import 'svg-bird';