<head>
  <meta charset="utf-8">
  <title>{{ site.title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content='{{site.description}}'>
  <meta name="keywords" content="UX, UI, Web design, Mobile App Design, usability, kekeli sackey, kekeli houngbeke, washington dc designer" />
  <meta name="author" content="Kekeli H. Sackey" />
  <link rel='shortcut icon' href='assets/favicon.ico' type='image/x-icon' />
  <link rel="stylesheet" href="assets/normalize.css" type="text/css" media="screen">
  <link rel="stylesheet" id="main_style" href="{{'/assets/main.css'}}">
  <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css'>
  {% include google-analytics.html %}
</head>