<header class="header pg-wrapper">
  <nav class="menu">
    <div class="col-1 col-gut-4">
      <a href="{{site.url}}/" class="left logo">
        <figure class="sharkie inline center">
          <img src="{{site.url}}/assets/img/sharks/shark.png"/>
        </figure>
        <span class="inline">Kekeli Sackey </span>
      </a>
    </div>

    <ul class="menu-list col-2">
      <li id="work_link"> <a href="http://behance.net/kekeli"> Work </a></li>
      <li id="resources_link"><a href="{{site.url}}/resources/"> Resources </a> </li>
      <li><a href="mailto:&#107;&#101;&#107;&#101;&#108;&#105;&#064;&#098;&#111;&#108;&#100;&#100;&#101;&#115;&#105;&#103;&#110;&#046;&#111;&#114;&#103;"> Contact </a> </li>
      <li class="icons">
        <div class="icon-info inline">
          <div class="hide" id="dd">
            <p>This website was designed and developed by me. It uses HTML5 for markup and CSS3 for the animations. A special thanks to <a href="http://lightitall.weebly.com/">Light</a> for the illustration.
            </p>
          </div>
        </div>
        <div id="switch" class="icon-happy right" onclick="toggle_skybox()"></div></li>
    </ul>
  </nav>
</header>
<br class="clear">
