body {
  background: #000;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 325px;
  height: 266px;
  margin: 150px auto 0;
  background: rgba(212, 211, 209, 0.97);
  padding: 50px;
  border-bottom: 40px solid #A5A5A5;
  border-radius: 50%;
  position: relative;
  box-shadow: 0 4px 142px 11px #B3B3B3;
}

.wrapper:hover{
  background-color: #BBB913;
  border-bottom: 40px solid #8C8A13;
  transition: 4s;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  transition-timing-function: ease-out;
}

img {
  width: 100px;
}

