$black: #000;
$dark-blue: #0114a4;
$violet: #4056fe;
$light-blue: #7b88ff;

// Layout
$base-value: 100px; // Initial 100px;
$value-2: $base-value + 15px;    //115px;
$value-3: $base-value + 19px;   // 119px;
$value-4: $base-value + 40px;   //140px;
$value-5: $base-value + 28px;   //128px
$value-6: $base-value + 48px;   //148px
$value-7: $base-value + 76px ;  //176px
$value-8: $base-value + 107px;  //207px
$value-9: $base-value + 119px;  //219px
$value-10: $base-value + 121px; //221px
$value-11: $base-value + 160px; //260px

// z-index
$z-index-below: -1;
$z-index-default: 1;
$z-index-above: 2;

@mixin style($background-color, $width, $height) {
  width: $width;
  height: $height;
  background: $background-color;
}

@mixin clip-path($path) {
  -webkit-clip-path: $path;
  clip-path: $path;
}

.bird-wrapper {
  position: absolute;
  pointer-events: none;
}

.shape {
  display: none;

  @media #{$lg-screen} {
    display: block;
    max-width: 500px;
    position: relative;
    transform: scale(0.6);
  }
}

.head-wrapper {
	float: right;
    @include transform(translate(72px, -132px));

	.head {
	  @include style($violet, $base-value, $value-4);
      @include clip-path(polygon(57% 14%, 99% 31%, 74% 83%, 4% 51%));
      transform: rotate(11deg);
	}

	.beak {
		@include style($black, $base-value, $base-value);
		@include clip-path(polygon(0 79%, 0 94%, 73% 88%));
        @include transform(translate(96px, -170px));

		&--lower {
          @include clip-path(polygon(0 88%, 0 94%, 73% 88%));
          transform: translate(85px, -273px);
        }
	}
}

.head-container {
	height: $base-value;
	position: absolute;
	top: 26px;
	z-index: $z-index-default;
	.one {
      @include style($light-blue, $value-2, $value-3);
      @include clip-path(polygon(94% 23%, 51% 3%, 17% 32%));
	}
	.two {
      @include style($violet, $value-2, $value-3);
      @include clip-path(polygon(95% 2%, 50% 6%, 67% 47%));
      position: relative;
      top: -95px;
	}
	.three {
      @include style(#6676ff, $value-2, $value-2);
      @include clip-path(polygon(61% 0%, 15% 8%, 68% 45%));
      position: relative;
      top: -209px;
	}
}


.wings {
  @include transform(translate(135px, -121px));
  position: absolute;
  right: 120px;
  z-index: $z-index-above;

  .wing-wrapper {
      .wing-two {
        @include style($light-blue, $value-10, $value-7);
        @include clip-path(polygon(62% 2%, 98% 47%, 75% 72%, 0 23%));
      }

      .wing-two-top {
        @include style(#97a2ff, $value-10, $value-7);
        @include clip-path(polygon(0% 24%, 77% 48%, 58% 67%, 0 24%));
        left: -56px;
        position: absolute;
        top: -42px;

        &--bottom {
          left: -34px;
          top: -4px;
        }
      }

      .wing-one-top {
        @include style(lighten($blue, 18%), $value-8, $value-5);
        @include clip-path(polygon(64% 6%, 0% 34%, 50% 51%));
        position: absolute;
        top: 29px;
        z-index: $z-index-default;
      }

      .wing-one-top-right {
        @include clip-path(polygon(73% 88%, 35% 28%, 29% 46%));
        @include style($light-blue, $value-8, $value-5);
        position: absolute;
        right: -46px;
        top: 2px;
        z-index: $z-index-above;
      }

      .wing-one-right {
        @include clip-path(polygon(99% 57%, 54% 12%, 45% 39%));
        @include style($light-blue, $value-8, $value-5);
          margin-left: 9px;
          position: absolute;
          top: 44px;
          z-index: $z-index-default;
      }

      .wing-one-bottom {
        @include style(lighten($dark-blue, 30%), $value-9, $value-7);
        @include clip-path(polygon(100% 71%, 0% 46%, 80% 92%));
        position: absolute;
        top: -8px;
        z-index: $z-index-default;
      }

      .wing-one-lower {
        @include style($blue, 89px, 61px);
        @include clip-path(polygon(48% 27%, 5% 33%, 55% 51%));
        left: -23px;
        position: absolute;
        top: 54px;

      	  &--two {
            background: $dark-blue;
            top: 64px;
            width: 148px;
            z-index: $z-index-below;
          }
      }
  }

  .wing-one-accent-right {
    @include style(lighten($blue, 10%), $value-10, $value-7);
    @include clip-path(polygon(60% 2%, 100% 47%, 79% 69%, 0 23%));
    margin-top: -9rem;
  }
}

.mid {
	@include style(#334aff, 230px, 323px);
	@include clip-path(polygon(73% 28%, -8% 54%, 100% 59%));
	margin-left: 52px;
	position: absolute;
	top: -148px;
	transform: rotate(-9deg);
}

.tail {
  transform: translate(-36px, 6px);
	.top {
		@include style(lighten($blue, 18%), $value-4, $value-4);
		@include clip-path(polygon(78% 0, 1% 48%, 68% 42%));
	}

	.top-two {
      @include style(lighten($blue, 28%), 172px, 77px);
      @include clip-path(polygon(48% 56%, 65% -1%, 25% 67%));
      left: -17px;
      position: absolute;
      top: 10px;
	}

	.bottom {
		@include style($blue, $value-4, $value-4);
		@include clip-path(polygon(69% 42%, 18% 48%, 65% 54%));
		transform: translate(-25px, -$value-4);
	}

	.long-tail {
		@include style($black, $value-11, $value-4);
		@include clip-path(polygon(73% 24%, 65% 14%, 0 70%));
		left: -117px;
		position: absolute;
		top: 26px;
		z-index: $z-index-below;
	}
}

.neck {
	float: right;
	height: $base-value;
	position: relative;
	right: -195px;
	top: -110px;

	.two {
		@include clip-path(polygon(52% -2%, 40% 29%, 68% 42%));
		background: #7383fe;
		height: 48px;
		position: relative;
		right: 14px;
		top: 73px;
	}
	.three {
	  @include style(#8391ff, 148px, $base-value);
      @include clip-path(polygon(69% 28%, 42% 21%, 54% 52%));
      position: relative;
      right: 13px;
      top: 18px;
	}
	.four {
      @include style(#6676ff, $base-value, $base-value);
      @include clip-path(polygon(98% -3%, 10% 51%, 63% 45%));
      position: relative;
      right: 8px;
      top: -54px;
	}
}

.feet {
	position: absolute;
	right: 83px;
	top: 29px;
	z-index: $z-index-default;

  .leg {
    @include style($blue, $base-value, $base-value);
    @include clip-path(polygon(54% 10%, 27% 24%, 64% 11%));
  }

  .foot {
	@include style($blue, $base-value, 25px);
	@include clip-path(polygon(76% 43%, 83% 35%, 68% 21%));
	left: -43px;
	position: absolute;
	top: 12px;
  }
}