// Vars
// Units
$sm-value: 12px;

// Font sizes
$fs-sm: $sm-value;
$fs-medium: 1rem; // 16px;

// font weight
$regular: 400;
$bold: 600;

// Colors
$blue: #0D29FE;
$black: #000;
$light-gray: #4C4C4C;
$white: #FFF;

$primary-color: $blue;
$secondary-color: #D5FFF5;
$branding: 'Raleway', sans-serif;

// Layout & media queries
$lg-screen: 'screen and (min-width: 60rem)';
$sm-screen: 'screen and (min-width: 30rem)';
$pg-wrapper-width: 40rem;