html {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow: hidden; }

body {
  align-items: center;
  display: flex;
  font-family: "Raleway", sans-serif;
  justify-content: center; }

*, *::before, *::after {
  box-sizing: inherit; }

a, a:link, a:active {
  color: #000;
  font-weight: 600;
  text-decoration: none; }
a:hover {
  border-bottom: 2px solid #0D29FE;
  color: #000; }
a.natgeo {
  border-bottom: 3px solid #FFCC00; }
  a.natgeo:hover {
    border-bottom: 2px solid #0D29FE; }
a.wapo {
  color: #1955a5; }
a.bump {
  font-size: 1.5rem;
  line-height: 0; }

.wapo {
  color: #1955a5; }

.pg-wrapper {
  padding: 1rem;
  position: relative; }
  @media screen and (min-width: 60rem) {
    .pg-wrapper {
      padding: 0;
      max-width: 40rem;
      margin: 0 auto; } }

.power-pitch .power-pitch-header {
  font-weight: 600; }
  @media screen and (min-width: 60rem) {
    .power-pitch .power-pitch-header {
      font-size: 6rem;
      margin-left: -6px;
      line-height: 0;
      padding-bottom: 1.5rem; } }
.power-pitch .power-pitch-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 2; }

.tooltip {
  width: 150px;
  border: 2px solid #0D29FE;
  padding: 10px;
  font-size: 14px;
  line-height: 1.5;
  display: none; }

.bird-wrapper {
  position: absolute;
  pointer-events: none; }

.shape {
  display: none; }
  @media screen and (min-width: 60rem) {
    .shape {
      display: block;
      max-width: 500px;
      position: relative;
      transform: scale(0.6); } }

.head-wrapper {
  float: right;
  -moz-transform: translate(72px, -132px);
  -o-transform: translate(72px, -132px);
  -ms-transform: translate(72px, -132px);
  -webkit-transform: translate(72px, -132px);
  transform: translate(72px, -132px); }
  .head-wrapper .head {
    width: 100px;
    height: 140px;
    background: #4056fe;
    -webkit-clip-path: polygon(57% 14%, 99% 31%, 74% 83%, 4% 51%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.57 0.14, 0.99 0.31, 0.74 0.83, 0.04 0.51" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(57% 14%, 99% 31%, 74% 83%, 4% 51%);
    transform: rotate(11deg); }
  .head-wrapper .beak {
    width: 100px;
    height: 100px;
    background: #000;
    -webkit-clip-path: polygon(0 79%, 0 94%, 73% 88%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0 0.79, 0 0.94, 0.73 0.88" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(0 79%, 0 94%, 73% 88%);
    -moz-transform: translate(96px, -170px);
    -o-transform: translate(96px, -170px);
    -ms-transform: translate(96px, -170px);
    -webkit-transform: translate(96px, -170px);
    transform: translate(96px, -170px); }
    .head-wrapper .beak--lower {
      -webkit-clip-path: polygon(0 88%, 0 94%, 73% 88%);
      clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0 0.88, 0 0.94, 0.73 0.88" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
      clip-path: polygon(0 88%, 0 94%, 73% 88%);
      transform: translate(85px, -273px); }

.head-container {
  height: 100px;
  position: absolute;
  top: 26px;
  z-index: 1; }
  .head-container .one {
    width: 115px;
    height: 119px;
    background: #7b88ff;
    -webkit-clip-path: polygon(94% 23%, 51% 3%, 17% 32%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.94 0.23, 0.51 0.03, 0.17 0.32" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(94% 23%, 51% 3%, 17% 32%); }
  .head-container .two {
    width: 115px;
    height: 119px;
    background: #4056fe;
    -webkit-clip-path: polygon(95% 2%, 50% 6%, 67% 47%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.95 0.02, 0.5 0.06, 0.67 0.47" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(95% 2%, 50% 6%, 67% 47%);
    position: relative;
    top: -95px; }
  .head-container .three {
    width: 115px;
    height: 115px;
    background: #6676ff;
    -webkit-clip-path: polygon(61% 0%, 15% 8%, 68% 45%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.61 0, 0.15 0.08, 0.68 0.45" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(61% 0%, 15% 8%, 68% 45%);
    position: relative;
    top: -209px; }

.wings {
  -moz-transform: translate(135px, -121px);
  -o-transform: translate(135px, -121px);
  -ms-transform: translate(135px, -121px);
  -webkit-transform: translate(135px, -121px);
  transform: translate(135px, -121px);
  position: absolute;
  right: 120px;
  z-index: 2; }
  .wings .wing-wrapper .wing-two {
    width: 221px;
    height: 176px;
    background: #7b88ff;
    -webkit-clip-path: polygon(62% 2%, 98% 47%, 75% 72%, 0 23%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.62 0.02, 0.98 0.47, 0.75 0.72, 0 0.23" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(62% 2%, 98% 47%, 75% 72%, 0 23%); }
  .wings .wing-wrapper .wing-two-top {
    width: 221px;
    height: 176px;
    background: #97a2ff;
    -webkit-clip-path: polygon(0% 24%, 77% 48%, 58% 67%, 0 24%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0 0.24, 0.77 0.48, 0.58 0.67, 0 0.24" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(0% 24%, 77% 48%, 58% 67%, 0 24%);
    left: -56px;
    position: absolute;
    top: -42px; }
    .wings .wing-wrapper .wing-two-top--bottom {
      left: -34px;
      top: -4px; }
  .wings .wing-wrapper .wing-one-top {
    width: 207px;
    height: 128px;
    background: #687afe;
    -webkit-clip-path: polygon(64% 6%, 0% 34%, 50% 51%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.64 0.06, 0 0.34, 0.5 0.51" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(64% 6%, 0% 34%, 50% 51%);
    position: absolute;
    top: 29px;
    z-index: 1; }
  .wings .wing-wrapper .wing-one-top-right {
    -webkit-clip-path: polygon(73% 88%, 35% 28%, 29% 46%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.73 0.88, 0.35 0.28, 0.29 0.46" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(73% 88%, 35% 28%, 29% 46%);
    width: 207px;
    height: 128px;
    background: #7b88ff;
    position: absolute;
    right: -46px;
    top: 2px;
    z-index: 2; }
  .wings .wing-wrapper .wing-one-right {
    -webkit-clip-path: polygon(99% 57%, 54% 12%, 45% 39%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.99 0.57, 0.54 0.12, 0.45 0.39" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(99% 57%, 54% 12%, 45% 39%);
    width: 207px;
    height: 128px;
    background: #7b88ff;
    margin-left: 9px;
    position: absolute;
    top: 44px;
    z-index: 1; }
  .wings .wing-wrapper .wing-one-bottom {
    width: 219px;
    height: 176px;
    background: #4056fe;
    -webkit-clip-path: polygon(100% 71%, 0% 46%, 80% 92%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="1 0.71, 0 0.46, 0.8 0.92" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(100% 71%, 0% 46%, 80% 92%);
    position: absolute;
    top: -8px;
    z-index: 1; }
  .wings .wing-wrapper .wing-one-lower {
    width: 89px;
    height: 61px;
    background: #0D29FE;
    -webkit-clip-path: polygon(48% 27%, 5% 33%, 55% 51%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.48 0.27, 0.05 0.33, 0.55 0.51" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(48% 27%, 5% 33%, 55% 51%);
    left: -23px;
    position: absolute;
    top: 54px; }
    .wings .wing-wrapper .wing-one-lower--two {
      background: #0114a4;
      top: 64px;
      width: 148px;
      z-index: -1; }
  .wings .wing-one-accent-right {
    width: 221px;
    height: 176px;
    background: #4056fe;
    -webkit-clip-path: polygon(60% 2%, 100% 47%, 79% 69%, 0 23%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.6 0.02, 1 0.47, 0.79 0.69, 0 0.23" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(60% 2%, 100% 47%, 79% 69%, 0 23%);
    margin-top: -9rem; }

.mid {
  width: 230px;
  height: 323px;
  background: #334aff;
  -webkit-clip-path: polygon(73% 28%, -8% 54%, 100% 59%);
  clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.73 0.28, -0.08 0.54, 1 0.59" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
  clip-path: polygon(73% 28%, -8% 54%, 100% 59%);
  margin-left: 52px;
  position: absolute;
  top: -148px;
  transform: rotate(-9deg); }

.tail {
  transform: translate(-36px, 6px); }
  .tail .top {
    width: 140px;
    height: 140px;
    background: #687afe;
    -webkit-clip-path: polygon(78% 0, 1% 48%, 68% 42%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.78 0, 0.01 0.48, 0.68 0.42" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(78% 0, 1% 48%, 68% 42%); }
  .tail .top-two {
    width: 172px;
    height: 77px;
    background: #9ba7ff;
    -webkit-clip-path: polygon(48% 56%, 65% -1%, 25% 67%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.48 0.56, 0.65 -0.01, 0.25 0.67" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(48% 56%, 65% -1%, 25% 67%);
    left: -17px;
    position: absolute;
    top: 10px; }
  .tail .bottom {
    width: 140px;
    height: 140px;
    background: #0D29FE;
    -webkit-clip-path: polygon(69% 42%, 18% 48%, 65% 54%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.69 0.42, 0.18 0.48, 0.65 0.54" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(69% 42%, 18% 48%, 65% 54%);
    transform: translate(-25px, -140px); }
  .tail .long-tail {
    width: 260px;
    height: 140px;
    background: #000;
    -webkit-clip-path: polygon(73% 24%, 65% 14%, 0 70%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.73 0.24, 0.65 0.14, 0 0.7" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(73% 24%, 65% 14%, 0 70%);
    left: -117px;
    position: absolute;
    top: 26px;
    z-index: -1; }

.neck {
  float: right;
  height: 100px;
  position: relative;
  right: -195px;
  top: -110px; }
  .neck .two {
    -webkit-clip-path: polygon(52% -2%, 40% 29%, 68% 42%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.52 -0.02, 0.4 0.29, 0.68 0.42" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(52% -2%, 40% 29%, 68% 42%);
    background: #7383fe;
    height: 48px;
    position: relative;
    right: 14px;
    top: 73px; }
  .neck .three {
    width: 148px;
    height: 100px;
    background: #8391ff;
    -webkit-clip-path: polygon(69% 28%, 42% 21%, 54% 52%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.69 0.28, 0.42 0.21, 0.54 0.52" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(69% 28%, 42% 21%, 54% 52%);
    position: relative;
    right: 13px;
    top: 18px; }
  .neck .four {
    width: 100px;
    height: 100px;
    background: #6676ff;
    -webkit-clip-path: polygon(98% -3%, 10% 51%, 63% 45%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.98 -0.03, 0.1 0.51, 0.63 0.45" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(98% -3%, 10% 51%, 63% 45%);
    position: relative;
    right: 8px;
    top: -54px; }

.feet {
  position: absolute;
  right: 83px;
  top: 29px;
  z-index: 1; }
  .feet .leg {
    width: 100px;
    height: 100px;
    background: #0D29FE;
    -webkit-clip-path: polygon(54% 10%, 27% 24%, 64% 11%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.54 0.1, 0.27 0.24, 0.64 0.11" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(54% 10%, 27% 24%, 64% 11%); }
  .feet .foot {
    width: 100px;
    height: 25px;
    background: #0D29FE;
    -webkit-clip-path: polygon(76% 43%, 83% 35%, 68% 21%);
    clip-path: url('data:image/svg+xml;utf8,%3Csvg xmlns="http://www.w3.org/2000/svg"%3E%3Cdefs%3E%3CclipPath id="p" clipPathUnits="objectBoundingBox"%3E%3Cpolygon points="0.76 0.43, 0.83 0.35, 0.68 0.21" /%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E#p');
    clip-path: polygon(76% 43%, 83% 35%, 68% 21%);
    left: -43px;
    position: absolute;
    top: 12px; }

.shape {
  -webkit-animation: fly-animation 12s 1 forwards;
  -moz-animation: fly-animation 12s 1 forwards;
  -ms-animation: fly-animation 12s 1 forwards;
  -o-animation: fly-animation 12s 1 forwards;
  animation: fly-animation 12s 1 forwards;
  transform-style: preserve-3d; }

.wing-wrapper {
  animation: .4s wing-animation infinite forwards; }

.long-tail {
  animation: 2s tail-animation 2 forwards; }

.head-wrapper {
  animation: 4s head-animation 1 forwards;
  animation-delay: 5s; }

.beak--lower {
  animation: 4s lower-beak-animation 1 forwards;
  animation-delay: 5s; }

.feet {
  animation: 3s leg-animation 1 forwards; }

@keyframes tail-animation {
  0% {
    transform: rotate(-4deg); }
  100% {
    transform: rotate(1deg); } }
@keyframes wing-animation {
  0% {
    transform: rotate(0deg);
    transition: transform 300ms linear; }
  50% {
    transform: translate(21px, -40px) rotate(32deg); }
  100% {
    transform: translate(57px, 51px) rotate(-82deg); } }
@keyframes head-animation {
  0% {
    transform: translate(72px, -132px); }
  25% {
    transform: translate(10px, -130px) rotate(76deg); }
  50% {
    transform: translate(72px, -132px); }
  70% {
    transform: translate(10px, -130px) rotate(76deg); }
  100% {
    transform: translate(72px, -132px); } }
@keyframes lower-beak-animation {
  0% {
    transform: translate(85px, -273px); }
  50% {
    display: block;
    transform: translate(85px, -264px); }
  100% {
    transform: translate(85px, -273px); } }
@keyframes fly-animation {
  0% {
    transform: translate3d(-60vw, 0, 0) scale(0.6); }
  25% {
    transform: translate3d(-25vw, 0px, 0) scale(0.6); }
  35% {
    transform: translate3d(0.5vw, -90px, 0) scale(0.6); }
  88% {
    transform: translate3d(0.5vw, -90px, 0) scale(0.6); }
  100% {
    transform: translate3d(80vw, 0, 0) scale(0.6); } }
@keyframes leg-animation {
  100% {
    transform: rotate(-37deg); } }

/*# sourceMappingURL=main.postcss.css.map */