body {
    background: #f1f1f1;
    margin: 0;
}

@keyframes drive {
    0%{
        transform: translate3d(-2vw, -12px, 9px)
    }
    50%{
         transform: translate3d(5vw, 0px, 0px);
    }

    100%{
        transform: translate3d(100vw, 0px, 100px);
    }
}


.wrapper {
    width: 325px;
    margin: 350px auto 0;
    padding: 50px 0;
    overflow: hidden;
    background: limegreen;
    transition: 3s;
}

.plane{
    width: 30px;
    animation: drive 10s 1;
    animation-timing-function: ease-in;
}

svg{
  transform: rotate(45deg);
}